@model GetAssetModel[]

@{
    ViewData["Title"] = "Assets";
}

<div class="container text-center row row-cols-md-3 row-cols-sm-2 row-cols-1">
    @foreach (var asset in Model)
    {
        <div class="col border px-4 py-2 m-4 bg-light bg-opacity-10" style="max-width:500px; min-width:350px; border-radius:15px">
            <h1 class="row display-6 border-bottom py-2">@asset.asset_id - @asset.name</h1>
            <div class="row">

                @if (asset.type_is_crypto == 1.0)
                    {
                        <p class="col">Crypto</p>
                    }
                    else
                    {
                        <p class="col">Money</p>
                    }

                <div class="col">
                        <p class="row">USD per @asset.asset_id<i class="row text-success fs-5">$@asset.price_usd</i></p>
                </div>
            </div>
            <div class="row">
                <h5 class="row">USD Volume in</h5>
                <div class="row">
                        <p class="col">1 Hour - <i class="col text-success">$@asset.volume_1hrs_usd</i></p>
                </div>
                <div class="row">
                        <p class="col">1 Day - <i class="col text-success">$@asset.volume_1day_usd</i></p>
                </div>
                <div class="row">
                        <p class="col">1 Month- <i class="col text-success">$@asset.volume_1mth_usd</i></p>
                </div>
            </div>
        </div>
    }
</div>