@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-2">Contact Me</h1>
    <p class="display-6">The informations below is the means of contact with me.</p>
</div>

<div class="container row">
    <a class="col btn btn-outline-light" href="https://github.com/Evandru">Github</a>
    <a class="col btn btn-primary" href="https://www.linkedin.com/in/evandro-remolli-8b6b9b227/">LinkedIn</a>
    <a class="col btn btn-outline-primary" href="mailto:evandro_remolli.t@outlook.com">Email</a>
</div>