@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-2">Contact Me</h1>
    <p class="display-6">The informations below is the means of contact with me.</p>
</div>

<div class="container row">
    <a class="col m-3 btn btn-outline-light" href="https://github.com/Evandru">Github</a>
    <a class="col m-3 btn btn-primary" href="https://www.linkedin.com/in/evandro-remolli-8b6b9b227/">LinkedIn</a>
    <a class="col m-3 btn btn-outline-primary" href="mailto:evandro_remolli.t@outlook.com">Email</a>
</div>

<div class="container col text-center">
   
    <div class="row my-3 py-2 border-start border-end bg-dark bg-opacity-50">
        <i class="px-3">Github</i><a class="col" href="https://github.com/Evandru">https://github.com/Evandru</a>
    </div>
   
    <div class="row my-3 py-2 border-start border-end bg-dark bg-opacity-50">
        <i class="px-3">LinkedIn</i><a class="col" href="https://www.linkedin.com/in/evandro-remolli-8b6b9b227/">https://www.linkedin.com/in/evandro-remolli-8b6b9b227/</a>
    </div>
    
    <div class="row my-3 py-2 border-start border-end bg-dark bg-opacity-50">
        <i class="px-3">E-Mail</i><a class="col" href="mailto:evandro_remolli.t@outlook.com">evandro_remolli.t@outlook.com</a>
    </div>
</div>