@model GetTickerModel[]

@{
    ViewData["Title"] = "CryptoCurrency";
}

<body class="bg-black text-white">
    <div class="text-center m-5">
        <h1 class="display-1 my-3">CrytoCurrency</h1>
        <p class="fs-5"><i>Just assets exhibition.</i></p>
    </div>
 
    <div class="text-center py-4 border-end border-start">
        <p class="fs-5"><i>View all symbols here</i></p>
        <a asp-controller="Home" asp-action="Symbols" class="btn btn-outline-light px-3 py-2">Symbols</a>
    </div>

    <div class="container text-center text-white my-5">
        <h2 class="display-6 border-bottom my-2 py-2">Assets</h2>
        <div class="row">
            <p class="col fs-4 border-end border-start">Symbol</p>
        
            <p class="col fs-4 border-end border-start">Price (24h)</p>
        
            <p class="col fs-4 border-end border-start">Volume (24h)</p>
            
            <p class="col fs-4 border-end border-start desktop">Last trade price</p>
        </div>
        @foreach (var item in Model)
        {
            string quote = item.symbol;
            if (
            // CRYPTO
            quote == "BTC-USD" || quote == "ETH-USD" || quote == "BNB-USD" || quote == "USDT-USD" || quote == "USDC-USD" || quote == "XRP-USD" || quote == "ADA-USD" || quote == "FGC-USD" || quote == "DOGE-USD" || quote == "LTC-USD" ||

            // COIN
            quote == "EUR-USD" || quote == "JPY-USD" || quote == "GBP-USD" || quote == "BRL-USD"
            )
            {
                <div class="row border-bottom border-white py-1 my-2 d-flex justify-content-center align-items-center">
                    <a class="col fs-5 link-primary" asp-controller="Home" asp-action="Symbol" asp-route-symbol="@item.symbol">@item.symbol</a>
                    <p class="col fs-5 money fst-italic">$@Math.Round(item.price_24h, 2)</p>
                    <p class="col fs-5 money fst-italic">$@Math.Round(item.volume_24h, 2)</p>
                    <p class="col fs-5 money fst-italic desktop">$@Math.Round(item.last_trade_price, 2)</p>
                </div>
            }
        }
    </div>
</body>
<style>
    .money{
        color:limegreen;
    }
</style>